*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url("images/background.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: cursive;
    background-color: rgb(8, 137, 180);
    color: rgb(16, 46, 16);
    border-bottom: 5px solid black;
}
header h1 {
    display: inline-block;
    font-size: 50px;
    
}
nav {
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-family: bradley hand, cursive;
    font-size: 20px;
    display: flex;
}
ul{
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-left: 25px;
}
a{
    text-decoration: none;
}
p{
    display:flex;
    flex-direction: column;
    flex-shrink: initial;
    font-size: 2vmin;
}
.Information{
    margin-bottom: 75px;
    padding: 50px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-size: 2vmin;
    background-color: #47acd4;
    color: black;
    text-align: center; 
}
#My-Works{
    display:Flex;
}

.project{
    align-items:baseline;
    justify-content: center;
    margin: 0px;
    border-width: 1px;
    float: left;
    padding: 2px;
    width: 33.33%;
}
.Information::after {
    content:"";
    clear:both;
    display: table;
}

#Contact-Information{
    text-align: center;
}
.projectimg{
    margin-left: 5px;
    margin-right: 5px;
    max-width: 200px;
    flex: 33.33%;
}
.float-left{
    max-width: 80px;
    float: left;
    margin-right: 25px
}
footer{
    padding:25px;
    clear: both;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    color:honeydew;
}
@media only screen and (max-width: 600px) {
    section {
      display: block;
      overflow: hidden;
      padding: 10px;
      border-radius: 15px;
      gap: 10px;
      width: 80%;
      height: 250px;
      margin: 25px auto;
    }
  }
  @media only screen and (max-width: 1024px) {
    section {
      display: block;
      overflow: hidden;
      padding: 10px;
      border-radius: 15px;
      gap: 10px;
      width: 80%;
      height: 250px;
      margin: 25px auto;
    }
  }
